<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: conteudo">

<div th:fragment="conteudo">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Usuários</h2>
        <a class="btn btn-primary" th:href="@{/users/new}">Novo Usuário</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Funções (Roles)</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.username}"></td>
            <td>
                <span th:each="r : ${u.roles}"
                      class="badge bg-info me-1"
                      th:text="${r.name}">
                </span>
            </td>
            <td>
                <a class="btn btn-sm btn-info"
                   th:href="@{'/users/' + ${u.id}}">Ver</a>

                <a class="btn btn-sm btn-warning"
                   th:href="@{'/users/edit/' + ${u.id}}">Editar</a>

                <form th:action="@{'/users/delete/' + ${u.id}}"
                      method="post"
                      style="display:inline-block;"
                      onsubmit="return confirm('Confirma exclusão?');">
                    <button class="btn btn-sm btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</html>
